

.row {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    flex-direction: row;

    .promises-holder{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 50vh;
    }

    .obvs-holder{
        display: flex;
        width: 100vw;
        height: 30vh;
        text-align: center;
        align-items: center;
        justify-content: center;        
    }

    .dataApi{
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 10px;
    }

    .dataApi p{
        color: white;
        text-align: center;
        justify-content: center;
    }
}



