<div class="main-container">

    <div id="welcome-header">
        <p id="welcome-text"> Welcome to the Angular Menu!   </p>
    </div>

    <div id="btn-container">
        <div class="btn-holder" id="login-btn"  (click)="navigateToLogin()"> 
            <p class="btn-text"> Login </p>   
        </div>
        <div class="btn-holder" id="graphics-btn" (click)="navigateToGraph()" > 
            <p class="btn-text"> Graphics </p>   
            </div>
        <div class="btn-holder" id="list-btn"  (click)="navigateToList()" >
            <p class="btn-text"> Book finder  </p>   
            </div>

         <div class="btn-holder" id="list-btn"  (click)="navigateToRxJS()" >
            <p class="btn-text"> RxJS  </p>   
            </div>

        <div class="btn-holder" id="square-btn"  (click)="navigateToSquares()" >
            <p class="btn-text"> Squares  </p>   
            </div>


        <div class="btn-holder" id="translations-btn"  (click)="navigateToTranslations()" >
            <p class="btn-text"> Translations  </p>   
            </div>
        
    </div>
    


    <footer class="footer">
        <p>&copy; 2023 Roger Vison - First Angular project - Todos los derechos reservados.</p>
    </footer>

</div>
